body{
	border: 20px solid silver;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: Cinzel;
}

h2{
	color: teal;
	font-size: 1.5rem;
}

.date{
	color: purple;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

.quote{
	border-left: 5px solid teal;
	padding-left: 5px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}